*{
    font-family: 'Junge', serif;
}

.home-page-container{
    padding: 1.5rem;
    text-align: center;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: black solid 1px;
    border-top: black solid 1px;
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 5rem;
    list-style: none;
    padding: 8px;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    transition: color 0.2s ease-in-out;
}

.nav-links li a:hover {
    text-decoration: none;
    color: #11B650;
}
.profile-icon {
    width: 55px;
    height: 55px;
}

.hero-headline {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 70px;
    padding: 10px;
}

.eco-friendly {
    color: #11B650;
}

.get-started-button {
    background-color: black;
    color: white;
    border: none;
    padding: 15px 32px;
    font-size: large;
}

.get-started-button:hover {
    background-color: whitesmoke;
    color: black;
    border: black solid 2px;
}

.about-page {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    background-color: rgba(17, 182, 80, 0.2);
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-inline: 5rem 5rem;
}

.about-page-container {
    padding-right: 4rem;
    align-items: center;
    margin-top: 3rem;
}

.about-image {
    width: auto;
    max-height: 400px;
    display: block;
    margin-top: 2rem;
    transform: rotate(5deg);
    box-shadow: 2px 2px 5px black;
    border-radius: 3%;
}

.Title {
    text-align: center;
    color: #11B650;
    background-color: white;
    padding-block: 20px;
    padding-inline: 30px;
    border-radius: 3rem;
    display: inline;
    font-size: 48px;
    font-family: 'Julius Sans One', sans-serif;
}

.about-content {
    font-size: 24px;
    padding-top: 3rem;
    color: black;
}

.products {
    background-color: white;
    padding: 3rem;
}

.top-actions {
    padding-left: 3rem;
    padding-top: 3rem;
}

.see-more-button {
    color: black;
    border: black solid 1px;
    border-radius: 32px;
    padding: 0.5rem 2rem;
    background-color: white;
    font-size: 22px;
}

.see-more-button:active {
    background-color: black;
    transform: translateY(1px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    border: white solid 2px;
}

.main-headline {
    font-size: 48px;
    padding-left: 3rem;
}

.main-content-header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 3rem;
    gap: 2rem;
}

.description-and-cta {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 350px;
    margin-bottom: -5rem;
    padding-right: 5rem;
}

.description-text {
    font-size: 20px;
    line-height: 1.6;
    color: #555;
    margin: 0;
    text-align: right;
}

.shop-now-button {
    background-color: #000;
    color: white;
    padding: 0.8rem 2rem;
    font-size: 1rem;
    border: none;
    border-radius: 25px;
    align-self: flex-start;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
}

.shop-now-button:active {
    background-color: white;
    transform: translateY(1px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: black;
    border: black solid 2px;
}

.product-grid {
    padding-inline: 2rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 0.5fr));
    align-items: self-end;
    margin-top: -4rem;
}

.product-card {
    overflow: hidden;
}

.product-image {
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 15px;
}

.faq-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding-top: 5rem;
}

.special-collection {
    padding: 4rem;
}

.special-collection-item {
    display: flex;
    flex-direction: row;
    background-color: rgba(68, 194, 116, 0.1);
    border-radius: 30px;
}

.special_collection_title {
    font-size: 48px;
    padding-left: 3rem;
    padding-top: 1rem;

}

.special_collection_subtitle {
    font-size: 22px;
    padding-left: 3rem;
    margin-top: -1rem;
    font-family: 'Julius Sans One', sans-serif;
}

.shop-now-button-special-connection {
    background-color: #000;
    color: white;
    padding: 0.8rem 2rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
    margin-left: 3rem;
    margin-top: 1rem;
}

.leather_bag {
    height: 24rem;
    width: 100%;
    border-radius: 30px;

}

.testimonials{
    align-items: center;
}

/*.testimonials-title {*/
/*    font-size: 48px;*/
/*}*/

/*.testimonials-container {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*    gap: 1rem;*/
/*}*/

/*.testimonial-item {*/
/*    padding: 0.5rem;*/
/*}*/

/*.testimonial-item:hover {*/
/*    background-color: whitesmoke;*/
/*}*/

/*.testimonials-item-title {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: flex-start;*/
/*    gap: 10px;*/
/*    font-family: Arial, Helvetica, sans-serif;*/
/*}*/

/*.testimonials-name {*/
/*    font-size: 18px;*/
/*}*/

/*.testimonials-designation {*/
/*    font-size: 12px;*/
/*}*/

/*.profile {*/
/*    height: 12px;*/
/*    width: 12px;*/
/*}*/

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.testimonials-title {
    font-size: 48px;
    margin-bottom: 20px;
}

.testimonials-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
    overflow-x: auto;
    padding-inline: 4rem;
}

.testimonials-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 2rem;
    min-width: 200px;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.testimonials-item:hover {
    background-color: whitesmoke;
}

.testimonials-item-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.profile {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.testimonials-name {
    font-size: 24px;
    font-weight: bold;
    align-self: center;
    font-family: 'Julius Sans One', sans-serif;
}

.testimonials-designation {
    font-size: 16px;
    color: #555;
    margin-top: -1rem;
    padding-left: 5rem;
}

.testimonials-main {
    font-size: 24px;
    font-weight: initial;
}

.footer {
    padding-top: 4rem;
    color: white;
}

.footer-container {
    background-color: #000;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    padding: 3rem;
}

.footer-title {
    font-size: 48px;
}

.footer-subtitle {
    font-size: 24px;
    font-family: 'Julius Sans One', sans-serif;
}

.footer-col1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-col1 p {
    margin: 0;
    line-height: 1.5;
}

ul {
    list-style-type: none;
}

h2 {
    font-size: 24px;
    font-weight: bolder;
    padding-bottom: 1rem;
    font-family: 'Julius Sans One', sans-serif;

}

li {
    padding-block: 0.5rem;
    font-family: 'Julius Sans One', sans-serif;
}

.logo {
    height: 5rem;
    width: 8rem;
    padding-left: 0.5rem;
}